body {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.section {
    height: 100%;
    padding: 2rem;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.section-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section-subitem {
    height: 5rem;
    width: 5rem;
    background-color: bisque;
    transition: transform 1.3s;
    animation: spin 5.1s linear infinite;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}

.section-subitem:hover {
    background-color: rgb(255, 140, 0);
    transform: rotate(360deg);
    border-radius: 45%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
        background-color: red;
        margin-left: 10rem;
    }

    100% {
        transform: rotate(360deg);
    }
}



.section2 {
    height: 100%;
    padding: 2rem;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.section2-subitem {
    height: 5rem;
    width: 5rem;   
}

.section2-subitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.section2-subitem img{
    height: 5rem;
    width: 5rem; 
}