body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.main-itens {
    width: 100%;
}

.menu-header{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4rem;
}

.menu-header-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 2rem;

}

.menu-header-item:hover{
    background-color: #C7D3DD;
    cursor: pointer;
}

.main-header {
    display: flex;
    flex-direction: row;   
    height: 40rem;
}

.main-header-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem;
    width: 50%;
    height: 100%;
}

.main-header-item-left{
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-header-item-profile:hover{
    width: 39rem;
    height: 39rem;

}
.main-sub-header {
    display: flex;
    flex-direction: row;
    height: 20rem;
    justify-content: center;
    flex-wrap: wrap;
}

.main-sub-header-item {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-body-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-img{
    width: 15rem;
    height: 15rem;
}

.skill-img:hover {
    width: 16rem;
    height: 16rem;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.primary-color {
    background-color: #dce9ef;
}

.secondary-color {
    background-color: #13f0cb;
}

.suport-color {
    background-color: #C7D3DD;
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(1, 99, 235);
}

.green {
    background-color: rgb(20, 242, 83);
}

.orange {
    background-color: rgb(251, 125, 0);
}

.yellow {
    background-color: rgb(246, 250, 7);
}

.pink {
    background-color: rgb(255, 12, 235);
}

.primary-text {
    font-size: 3rem;
}

.secondary-text {
    font-size: 2rem;
}