body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.main-itens {
    padding: 1rem;
    width: 100%;
}

.menu-header {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4rem;
}

.menu-header-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 7rem;
    margin-left: 2rem;
}

.menu-header-item:hover {
    cursor: pointer;
    color: aliceblue;
}

.main-header {
    display: flex;
    flex-direction: row;
    height: 40rem;
}

.main-header-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem;
    width: 50%;
    height: 100%;
}

.main-header-item-left {
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-header-item-profile:hover {
    width: 39rem;
    height: 39rem;

}

.main-sub-header {
    display: flex;
    flex-direction: row;
    height: 20rem;
    justify-content: center;
    flex-wrap: wrap;
}

.main-sub-header-item {
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.main-sub-header-lef{
    width: 100%;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-body-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 600px;
}

.skill-img {
    width: 15rem;
    height: 15rem;
}

.skill-img:hover {
    width: 16rem;
    height: 16rem;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.main-footer-item {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;

}

.main-footer-left {
    display: flex;
    justify-content: row;
    gap: 2rem;
}

.primary-color {
    background-color: #dce9ef;
}

.secondary-color {
    background-color: #13f0cb;
}

.suport-color {
    background-color: #C7D3DD;
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(1, 99, 235);
}

.green {
    background-color: rgb(20, 242, 83);
}

.orange {
    background-color: rgb(251, 125, 0);
}

.yellow {
    background-color: rgb(246, 250, 7);
}

.pink {
    background-color: rgb(255, 12, 235);
}

.primary-text {
    font-size: 3rem;
}

.secondary-text {
    font-size: 1.3rem;
}

.element-gaming {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 66%;
    left: 0;
    animation: moveElement 7s linear infinite;
}

.element-gaming-woman {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 66%;
    left: 0;
    animation: moveElementWoman 16s linear infinite;
}

.element-gaming-boble {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 66%;
    right: 0;
    animation: moveElementBoble 16s linear infinite;
}

@keyframes moveElement {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 30px);
    }
}


@keyframes moveElementWoman {
    0% {
        left: 10;
    }

    100% {
        left: calc(100% - 30px);
    }
}

@keyframes moveElementBoble {
    0% {
        right: 0;
    }

    100% {
        right: calc(100% - 30px);
    }
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav li {
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;

    margin: 0;
    padding: 0;
}

#nav li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1em;
}

#nav li a:hover {
    color: rgb(253, 253, 253);
    background: #191919;
}

.show-menu {    
    text-decoration: none;
    color: #000000;
    text-align: left;
    padding: 10px 5px;
    display: none;
}

.show-menu b {
    font-size: 30px;
}

.show-menu span {
    margin-right: 1em;
    float: right;
}

#nav input[type=checkbox] {
    display: none;
}

#nav input[type=checkbox]:checked~#menus {
    display: block;
}

/*css-styles-responsive*/
@media screen and (max-width:768px) {
    #nav ul {
        position: static;
        display: none;
    }

    #nav li {
        border-bottom: 1px solid #333;
    }

    #nav ul li,
    #nav li a {
        width: 100%;
    }

    #nav li a {
        display: block;
        height: auto;
        line-height: normal;
    }

    #nav li a {
        text-align: left;
    }

    .show-menu {
        display: block !important;
        line-height: 30px;
    }

    .show-menu:hover {
        cursor: pointer;
    }

    label {
        margin: 0 !important;
    }
}