body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.main-itens {
    width: 100%;

}

.main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30rem;
}

.main-header-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.main-sub-header {
    display: flex;
    flex-direction: row;
    height: 20rem;
    justify-content: center;
    flex-wrap: wrap;
}

.main-sub-header-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 19rem;
    height: 100%;
}

.main-body {
    display: flex;
    height: 30rem;
    flex-direction: row;
    justify-content: center;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.primary-color {
    background-color: #dce9ef;
}

.secondary-color {
    background-color: #13f0cb;
}

.suport-color {
    background-color: #C7D3DD;
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(1, 99, 235);
}

.green {
    background-color: rgb(20, 242, 83);
}

.orange {
    background-color: rgb(251, 125, 0);
}

.yellow {
    background-color: rgb(246, 250, 7);
}

.pink {
    background-color: rgb(255, 12, 235);
}

.primary-text {
    font-size: 5rem;
}