body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    border: rgb(34, 38, 49) solid 1px;
}

